section .container{
  width: 100%;
  overflow-x: hidden;

}


section .project{
  width: 100%;
  text-align: center;
}


section .project > h1{
  font-size: 2rem;
  padding: 4rem 0;
}


section .projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 4rem;
  justify-content: center;
  gap: 4rem;
}

section .project-itens{
  width: 100%;
  display: flex;
  gap: 4rem;
  justify-content: center;
}

section .project-item1, .project-item2, .project-item3{
  width: 50%;
  display: flex;
  justify-content: center;
}


section .project-text1, .project-text2, .project-text3{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section .project-item2{
  order: 1;
}

section .projects a{
  text-decoration: none;
}

section .project-onebitx{
  width: 34rem;
  height: 20rem;
  background-image: url("../../images/onebitx.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 37px 17px #000000;
  cursor: pointer;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

section .project-onebitx1{
  width: 34rem;
  height: 20rem;
  background-image: url("../../images/calculadora.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 37px 17px #000000;
  cursor: pointer;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

section .project-onebitx2{
  width: 34rem;
  height: 20rem;
  background-image: url("../../images/rocketpay.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 37px 17px #000000;
  cursor: pointer;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}



section .project-onebitx:hover, .project-onebitx1:hover, .project-onebitx2:hover{
  transition: 0.4s;
  transform: scale(1.05, 1.05);

}

section .project-onebitx > h1, .project-onebitx1 > h1, .project-onebitx2 > h1{
  font-size: 1.2rem;
  color: rgb(241, 241, 241);
}

section .project-onebitx .project-images img, .project-onebitx1 .project-images img, .project-onebitx2 .project-images img{
  width: 1.5rem;
  height: 1.5rem;
  opacity: 1;
}

section .project-onebitx-button{
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 3rem 0;
}


section .project-onebitx-button button{
  width: 10rem;
  height: 3rem;
  background-color: rgba(71, 16, 77, 0.6);
  color: white;
  border: 1px solid white;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

section .project-onebitx-button button:hover{
  cursor: pointer;
  transform: scale(0.9, 0.9);
  background-color: rgba(97, 20, 104);
  color: white;
  border: 1px solid white;
  border-radius: 1rem;
  transition: 0.3s;
}

@media (max-width: 1120px){
  section .project-itens{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4rem;
    justify-content: center;
    align-items: center;
  }

  section .project-item1, .project-item2, .project-item3{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  section .project-text1, .project-text2, .project-text3{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  
  section .project-text2{
    order: 2;
  }
}

@media (max-width: 653px){
  section .projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    justify-content: center;
    gap: 4rem;
  }
  
  section .project-onebitx-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 3rem 0;
  }

  section .project-onebitx{
    width: 20rem;
    height: 10rem;
    background-image: url("../../images/onebitx.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 37px 17px #000000;
    cursor: pointer;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }

  section .project-onebitx1{
    width: 20rem;
    height: 10rem;
    background-image: url("../../images/calculadora.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 37px 17px #000000;
    cursor: pointer;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }

  section .project-onebitx2{
    width: 20rem;
    height: 10rem;
    background-image: url("../../images/rocketpay.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 37px 17px #000000;
    cursor: pointer;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }

  
  section .project-item1, .project-item2{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  section .project-text1, .project-text2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
}