section{
  height: 100%;

}

section .container{
  width: 100%;
  background-color: rgb(25, 4, 27);
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2rem 0;
}

section .content{
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 4rem;
}

section .content-about{
  width: 50%;
  text-align: center;
}

section .content-about h1{
  font-size: 3rem;
}

section .content-about p{
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

section .content-about button{
  cursor: pointer;
  font-size: 1rem;
  width: 10rem;
  height: 2.5rem;
  background-color: rgba(143, 30, 153, 0.3);
  color: white;
  border: 1px solid white;
  border-radius: 1rem;
  margin-right: 10px;
}

section .content-about button:hover{
  cursor: pointer;
  font-size: .95rem;
  transform: scale(0.9, 0.9);
  background-color: rgba(97, 20, 104);
  color: white;
  border: 1px solid white;
  border-radius: 1rem;
  margin-right: 10px;
  transition: 0.3s;
}

section .photograph{
  width: 50%;
  text-align: center;  
}

section .photograph img{
  width: 20rem;
  height: 25rem;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 5px 5px 37px 17px #000000;
  border-radius: 20px;
  cursor: pointer;
}

section .photograph img:hover{
  width: 21rem;
  height: 26rem;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 5px 5px 37px 17px #000000;
  border-radius: 20px;
  transition: 0.3s;
}
section .about{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
}

section .about-text{
  width: 50%;
  text-align: center;
}

section .about h1{
  font-size: 2rem;
  padding: 1rem 0;
}

section .about p{
  text-align: justify;
  font-size: 1.3rem;
}

@media (max-width:825px){
  section .content{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  section .content-about h1{
    font-size: 2rem;
  }

  section .content-about p{
    font-size: 1rem;
    padding-bottom: 2rem;
  }
  
  section .content-about button:nth-last-child(1){
    cursor: pointer;
    font-size: 1rem;
    width: 10rem;
    height: 2.5rem;
    background-color: rgba(143, 30, 153, 0.3);
    color: white;
    border: 1px solid white;
    border-radius: 1rem;
    margin-top: 10px;
  }

  section .photograph{
    padding-top: 3rem;
    text-align: center;  
  }

  section .photograph img{
    width: 17rem;
    height: 22rem;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 37px 17px #000000;
    border-radius: 20px;
    cursor: pointer;
  }

  section .about-text{
    width: 80%;
    text-align: center;
  }
  
}