section{
  width: 100%;
}

section .container{
  width: 100%;
  text-align: center;
}

section .container h1{
  font-size: 2rem;
}

section .contact{
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 5rem 0;
}

section .contact a{
  text-decoration: none;
}

section .contact-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section .contact-box:hover{
  transform: scale(1.1, 1.1);
  transition: 0.3s;
}

section .contact-img{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 50%;
  padding: 1.1rem;
}

section .contact-img img{
  width: 2rem;
  height: 2rem;
}

section .contact-box h1{
  color: white;
  font-size: 1rem;
  padding-top: 2rem;
}

section .contact-box p{
  color: rgb(255, 255, 255, 0.6);
}


@media (max-width: 980px){


  section .contact{
    margin-left: -6.5rem;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 5rem 0;
  }
  
}